 <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a href="#" class="left-sidebar-toggle">Панель</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <!--<li class="divider"></li>-->
                  <li class="parent"><a href="#"><i class="icon mdi mdi-label"></i><span>Каракатица</span></a>
                    <ul class="sub-menu">
                      <li><a href="">---</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-label"></i><span>Шмель</span></a>
                    <ul class="sub-menu">
                      <li><a href="">---</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-label"></i><span>Комар</span></a>
                    <ul class="sub-menu">
                      <li><a href="">---</a>
                      </li>
                    </ul>
                  </li>
                 <!-- <li class="divider">Системы</li>-->
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="progress-widget">
            <div class="progress-data"><span class="progress-value">10%</span><span class="name">Проект выполнен</span></div>
            <div class="progress">
              <div style="width: 10%;" class="progress-bar progress-bar-primary"></div>
            </div>
          </div>
        </div>
      </div>