<div>
<div id="form-bp1" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
            <h3 class="modal-title">Настройка пунктов меню</h3>
          </div>
          <div class="modal-body">
            <h3>Главное меню</h3>
            <input class="form-control addMain" type="text" placeholder="Enter title" />
        <input class="form-control addPrefer" type="text" placeholder="Enter title" />
        <input class="form-control addCommon" type="text" placeholder="Enter title" />
         <button id="addBtn" type="button"  class="btn btn-default">Добавить</button>
 <table id="addmenutableup" class="table">
                    <thead>
                      <tr>
                        <th style="width:25%;">Название</th>
                        <th style="width:50%;">Адрес</th>
                        <th style="width:25%;">Статус</th>
                        <th style="width:0%;"></th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr id="addRow"></tr>
                    </tbody>
                  </table>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary md-close">Proceed</button>
          </div>
        </div>
      </div>
      </div>