 <body>
    <div class="be-wrapper be-fixed-sidebar">
     {{>up}}
     {{>left}}
      <div class="be-content">
        <div class="main-content container-fluid">
          <!--Responsive table-->
             <h3 class="text-center">Ждем контент!</h3>
        </div>
      </div>
    </div>
    {{>script}}
    </body>